<header>
    <div class="top-strip"></div>

    {{!-- Logo, Site title, contact icons --}}
    <div class="logo-contact">
        <div class="logo"><a href="index.html"><img src="./img/logo.png""></a></div>
        <div class="site-title">ROSEWELL HEALTHCARE</div>
        <div class="contact-icons">
            <a href="tel:8044208575"><i class="fas fa-phone"></i></a>
            <a href="mailto:contact@rosewellhc.com"><i class="fa-solid fa-envelope"></i></a>
            <a href="login.html"><i class="fas fa-user"></i></a>
        </div>
        <div class="menu-icon" id="menu-icon"><i class="fas fa-bars"></i></div>
    </div>
    
    {{!-- Desktop Navigation Bar --}}
    <nav class="nav-bar">
        <a href="index.html">HOME</a>
        <a href="services.html">SERVICES</a>
        <a href="instructions.html">APPOINTMENTS</a>
        <a href="about.html">ABOUT</a>
    </nav>

    {{!-- Mobile Menu Overlap --}}
    <div class="mobile-menu" id="mobile-menu">
    <div class="close-btn" id="close-menu">&times;</div>
    <nav class="mobile-nav">
      <a href="index.html">Home</a>
      <a href="services.html">Services</a>
      <a href="instructions.html">Appointments</a>
      <a href="about.html">About</a>
    </nav>
  </div>
</header>